In [72]:
import numpy as np 
import pandas as pd

In [73]:
colnames=['tanggal', 'komoditi', 'harga', 'b','c','d'] 
data_jan = pd.read_csv("1.csv",names=colnames, skiprows=1)
data_jan = data_jan.fillna(0)

In [74]:
for x in range(0,len(data_jan)):
    if type(data_jan.loc[x,'b'] ) == str:
        if type(data_jan.loc[x,'c'] ) == str:
            if data_jan.loc[x,'d'] != 0:
                data_jan.loc[x,'komoditi'] = data_jan.loc[x,'komoditi'] + data_jan.loc[x,'harga'] + data_jan.loc[x,'b'] + data_jan.loc[x,'c']
                data_jan.loc[x,'harga'] = data_jan.loc[x,'d'] 
            else:
                data_jan.loc[x,'komoditi'] = data_jan.loc[x,'komoditi'] + data_jan.loc[x,'harga'] + data_jan.loc[x,'b']
                data_jan.loc[x,'harga'] = data_jan.loc[x,'c'] 
        else:
            data_jan.loc[x,'komoditi'] = data_jan.loc[x,'komoditi'] + data_jan.loc[x,'harga']
            data_jan.loc[x,'harga'] = data_jan.loc[x,'b']

In [75]:
data_jan = data_jan[['tanggal', 'komoditi', 'harga']]
data_jan['harga'] = data_jan['harga'].values.astype(int)

In [76]:
pivot_jan = data_jan.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [77]:
colnames =['tanggal', 'komoditi','satuan', 'harga', 'a','b','c'] 
data_feb = pd.read_csv("2.csv",names=colnames, skiprows=1)
data_feb = data_feb.fillna(0)

In [78]:
for x in range(0,len(data_feb)):
    if type(data_feb.loc[x,'a'] ) == str:
        if type(data_feb.loc[x,'b'] ) == str:
            if data_feb.loc[x,'c'] != 0:
                data_feb.loc[x,'komoditi'] = data_feb.loc[x,'komoditi'] + data_feb.loc[x,'satuan'] + data_feb.loc[x,'harga'] + data_feb.loc[x,'a']
                data_feb.loc[x,'harga'] = data_feb.loc[x,'c'] 
            else:
                data_feb.loc[x,'komoditi'] = data_feb.loc[x,'komoditi'] + data_feb.loc[x,'satuan'] + data_feb.loc[x,'harga']
                data_feb.loc[x,'harga'] = data_feb.loc[x,'b'] 
        else:
            data_feb.loc[x,'komoditi'] = data_feb.loc[x,'komoditi'] + data_feb.loc[x,'satuan']
            data_feb.loc[x,'harga'] = data_feb.loc[x,'a']

In [79]:
data_feb = data_feb[['tanggal', 'komoditi', 'harga']]

In [80]:
data_feb['harga'] = data_feb['harga'].values.astype(str)
data_feb['harga'] = data_feb.harga.str.replace(".", "")

In [81]:
data_feb['harga'] = data_feb['harga'].values.astype(int)

In [82]:
pivot_feb = data_feb.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [83]:
colnames=['tanggal','komoditi','satuan', 'harga'] 
data_mar = pd.read_csv("3.csv", names=colnames, skiprows=1)

In [84]:
data_mar = data_mar[['tanggal', 'komoditi', 'harga']]

In [85]:
data_mar['komoditi'] = data_mar.komoditi.str.replace(",", "")

In [86]:
pivot_mar = data_mar.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [87]:
colnames=['tanggal','komoditi','satuan', 'harga'] 
data_apr = pd.read_csv("4.csv", names=colnames, skiprows=1)

In [88]:
data_apr = data_apr[['tanggal', 'komoditi', 'harga']]

In [89]:
pivot_apr = data_apr.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [90]:
colnames=['tanggal', 'komoditi','satuan', 'harga', 'a','b','c'] 
data_mei = pd.read_csv("5.csv",names=colnames, skiprows=1)
data_mei = data_mei.fillna(0)

In [91]:
for x in range(0,len(data_mei)):
    if type(data_mei.loc[x,'a'] ) == str:
        if type(data_mei.loc[x,'b'] ) == str:
            if data_mei.loc[x,'c'] != 0:
                data_mei.loc[x,'komoditi'] = data_mei.loc[x,'komoditi'] + data_mei.loc[x,'satuan'] + data_mei.loc[x,'harga'] + data_mei.loc[x,'a']
                data_mei.loc[x,'harga'] = data_mei.loc[x,'c'] 
            else:
                data_mei.loc[x,'komoditi'] = data_mei.loc[x,'komoditi'] + data_mei.loc[x,'satuan'] + data_mei.loc[x,'harga']
                data_mei.loc[x,'harga'] = data_mei.loc[x,'b'] 
        else:
            data_mei.loc[x,'komoditi'] = data_mei.loc[x,'komoditi'] + data_mei.loc[x,'satuan']
            data_mei.loc[x,'harga'] = data_mei.loc[x,'a']

In [92]:
data_mei = data_mei[['tanggal', 'komoditi', 'harga']]

In [93]:
data_mei['harga'] = data_mei['harga'].values.astype(int)

In [94]:
pivot_mei = data_mei.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [95]:
colnames=['tanggal', 'komoditi','satuan', 'harga', 'a','b','c'] 
data_juni = pd.read_csv("6.csv",names=colnames, skiprows=1)
data_juni = data_juni.fillna(0)

In [96]:
for x in range(0,len(data_juni)):
    if type(data_juni.loc[x,'a'] ) == str:
        if type(data_juni.loc[x,'b'] ) == str:
            if data_juni.loc[x,'c'] != 0:
                data_juni.loc[x,'komoditi'] = data_juni.loc[x,'komoditi'] + data_juni.loc[x,'satuan'] + data_juni.loc[x,'harga'] + data_juni.loc[x,'a']
                data_juni.loc[x,'harga'] = data_juni.loc[x,'c'] 
            else:
                data_juni.loc[x,'komoditi'] = data_juni.loc[x,'komoditi'] + data_juni.loc[x,'satuan'] + data_juni.loc[x,'harga']
                data_juni.loc[x,'harga'] = data_juni.loc[x,'b'] 
        else:
            data_juni.loc[x,'komoditi'] = data_juni.loc[x,'komoditi'] + data_juni.loc[x,'satuan']
            data_juni.loc[x,'harga'] = data_juni.loc[x,'a']

In [97]:
data_juni = data_juni[['tanggal', 'komoditi', 'harga']]

In [98]:
data_juni['harga'] = data_juni['harga'].values.astype(int)

In [99]:
pivot_juni = data_juni.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [100]:
colnames=['tanggal','komoditi','satuan', 'harga'] 
data_juli = pd.read_csv("7.csv", names=colnames, skiprows=1)

In [101]:
data_juli = data_juli[['tanggal', 'komoditi', 'harga']]

In [102]:
pivot_juli = data_juli.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [103]:
colnames=['tanggal','komoditi','satuan', 'harga'] 
data_agu = pd.read_csv("8.csv", names=colnames, skiprows=1)

In [104]:
data_agu = data_agu[['tanggal', 'komoditi', 'harga']]

In [105]:
data_agu['komoditi'] = data_agu.komoditi.str.replace(',','')

In [106]:
data_agu['harga'] = data_agu['harga'].values.astype(int)

In [107]:
pivot_agu = data_agu.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [108]:
colnames=['tanggal','komoditi','satuan', 'harga'] 
data_sep = pd.read_csv("9.csv", names=colnames, skiprows=1)

In [109]:
data_sep = data_sep[['tanggal', 'komoditi', 'harga']]

In [110]:
data_sep['komoditi'] = data_sep.komoditi.str.replace(',','')

In [111]:
data_sep['harga'] = data_sep['harga'].values.astype(int)

In [112]:
pivot_sep = data_sep.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [113]:
colnames=['tanggal','komoditi','satuan', 'harga'] 
data_okt = pd.read_csv("10.csv", names=colnames, skiprows=1)

In [114]:
data_okt = data_okt[['tanggal', 'komoditi', 'harga']]

In [115]:
data_okt['komoditi'] = data_okt.komoditi.str.replace(',','')

In [116]:
data_okt['harga'] = data_okt['harga'].values.astype(int)

In [117]:
pivot_okt = data_okt.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [118]:
data_nov = pd.read_csv("11.csv")
                    #error_bad_lines=False)

In [119]:
data_tanggal = []
for x in range(0,len(data_nov)):
    data_tanggal.append("%02d" % data_nov.loc[x,'tanggal'])

In [120]:
data_nov['tanggal'] = pd.Series(data_tanggal)

In [121]:
data_nov['bulan'] = data_nov.bulan.str.replace("november", "11")

In [122]:
data_nov['tanggal'] = data_nov['tanggal'].apply(str)
data_nov['tahun'] = data_nov['tahun'].apply(str)

In [123]:
data_nov['tanggal'] = data_nov['tahun'].str.cat(data_nov['bulan'].str.cat(data_nov['tanggal'], sep="/"), sep ="/")

In [124]:
data_nov['komoditi'] = data_nov.komoditi.str.replace(",", "")
data_nov['harga'] = data_nov.harga.str.replace(",", "")

In [125]:
data_nov = data_nov[['tanggal', 'komoditi', 'harga']]

In [126]:
data_nov['harga'] = data_nov['harga'].values.astype(int)

In [127]:
pivot_nov = data_nov.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [128]:
colnames=['tanggal','bulan','tahun','komoditi','satuan', 'harga'] 
data_des = pd.read_csv("12.csv",names=colnames, skiprows=1)

In [129]:
data_des['tanggal'] = data_des['tanggal'].values.astype(int)
data_des['tahun'] = data_des['tahun'].values.astype(int)
data_des['harga'] = data_des['harga'].values.astype(int)

In [130]:
data_tanggal = []
for x in range(0,len(data_des)):
    data_tanggal.append("%02d" % data_des.loc[x,'tanggal'])

In [131]:
data_des['tanggal'] = pd.Series(data_tanggal)

In [132]:
data_des['bulan'] = data_des.bulan.str.replace("Desember", "12")

In [133]:
data_des['tanggal'] = data_des['tanggal'].apply(str)
data_des['tahun'] = data_des['tahun'].apply(str)

In [134]:
data_des['tanggal'] = data_des['tahun'].str.cat(data_des['bulan'].str.cat(data_des['tanggal'], sep="/"), sep ="/")

In [135]:
data_des['komoditi'] = data_des.komoditi.str.replace(",", "")

In [136]:
data_des = data_des[['tanggal', 'komoditi', 'harga']]

In [137]:
data_des = data_des[pd.notnull(data_des['komoditi'])]

In [138]:
data_des['harga'] = data_des['harga'].values.astype(int)

In [139]:
pivot_des = data_des.pivot(index='tanggal', columns = 'komoditi', values = 'harga')

In [140]:
pivot_jan['Beras Medium'] = pivot_jan['Beras']
pivot_jan['Bawang Putih Impor Honan'] = pivot_jan['Bawang Putih Impor (Honan)']
pivot_jan['Bawang Putih Impor Kating'] = pivot_jan['Bawang Putih Impor (Kating)']
pivot_jan['Indomie Rasa Kari Ayam'] = pivot_jan['Mie Instan Indomie Rasa Kari Ayam']
pivot_jan['Cabai Merah Besar'] = pivot_jan['Cabe Merah Besar']
pivot_jan['Cabai Merah Kriting'] = pivot_jan['Cabe Merah Keriting']
pivot_jan['Cabai Rawit Hijau'] = pivot_jan['Cabe Rawit Hijau']
pivot_jan['Cabai Rawit Merah'] = pivot_jan['Cabe Rawit Merah']
pivot_jan['Kacang Kedelai Eks Impor'] = pivot_jan['Kacang Kedelai Eks impor']
pivot_jan = pivot_jan.drop(['Mie Instan Indomie Rasa Kari Ayam','Beras','Bawang Putih Impor (Honan)',
                            'Bawang Putih Impor (Kating)','Cabe Merah Besar','Cabe Merah Keriting',
                           'Cabe Rawit Hijau','Cabe Rawit Merah', 'Kacang Kedelai Eks impor'], axis=1)
pivot_jan.columns

Index(['Ayam Boiler', 'Ayam Kampung', 'Bawang Merah (Medium)',
       'Daging Sapi Impor Beku', 'Daging Sapi Lokal Daging Has Luar (Sirloin)',
       'Daging Sapi Lokal Daging Sandung Lamur (Brisket)',
       'Daging Sapi Lokal Daging Tetelan', 'Daging Sapi Lokal Has Dalam',
       'Daging Sapi Lokal Paha Belakang', 'Garam Beryodium Bata',
       'Garam Beryodium Halus', 'Gula Pasir', 'Ikan Kembung', 'Ikan Teri Asin',
       'Jagung Pipilan Kecil', 'Kacang Hijau', 'Kacang Kedelai Lokal',
       'Kacang Tanah', 'Ketela Pohon', 'Minyak Goreng Bimoli Botol',
       'Minyak Goreng Curah', 'Susu Bubuk Kaleng Merk Bendera',
       'Susu Bubuk Kaleng Merk Indomilk',
       'Susu Kental Manis Kaleng Merk Bendera',
       'Susu Kental Manis Kaleng Merk Indomilk', 'Telur Ayam Kampung',
       'Telur Ayam Ras', 'Tepung Terigu Segitiga Biru', 'Beras Medium',
       'Bawang Putih Impor Honan', 'Bawang Putih Impor Kating',
       'Indomie Rasa Kari Ayam', 'Cabai Merah Besar', 'Cabai Merah Kriting',
       'Cabai Rawit Hijau', 'Cabai Rawit Merah', 'Kacang Kedelai Eks Impor'],
      dtype='object', name='komoditi')

In [141]:
pivot_feb = pivot_feb.drop(['Beras Premium'], axis=1)
pivot_mar = pivot_mar.drop(['Beras Premium'], axis=1)
pivot_apr = pivot_apr.drop(['Beras Premium'], axis=1)
pivot_mei = pivot_mei.drop(['Beras Premium'], axis=1)
pivot_juni = pivot_juni.drop(['Beras Premium'], axis=1)
pivot_juli = pivot_juli.drop(['Beras Premium'], axis=1)
pivot_agu = pivot_agu.drop(['Beras Premium'], axis=1)
pivot_sep = pivot_sep.drop(['Beras Premium'], axis=1)
pivot_okt = pivot_okt.drop(['Beras Premium'], axis=1)
pivot_nov = pivot_nov.drop(['Beras Premium'], axis=1)
pivot_des = pivot_des.drop(['Beras Premium'], axis=1)

In [142]:
frame = pd.concat([pivot_jan, pivot_feb, pivot_mar,pivot_apr,pivot_mei,pivot_juni,pivot_juli,pivot_agu,pivot_sep,pivot_okt,pivot_nov,pivot_des ], axis=0)

c:\users\asus\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [143]:
frame.to_csv('Frame4.csv',index=True)

In [144]:
frame.index = pd.to_datetime(frame.index)

In [145]:
pivot_feb.columns

Index(['Ayam Boiler', 'Ayam Kampung', 'Bawang Merah (Medium)',
       'Bawang Putih Impor Honan', 'Bawang Putih Impor Kating', 'Beras Medium',
       'Cabai Merah Besar', 'Cabai Merah Kriting', 'Cabai Rawit Hijau',
       'Cabai Rawit Merah', 'Daging Sapi Impor Beku',
       'Daging Sapi Lokal Daging Has Luar (Sirloin)',
       'Daging Sapi Lokal Daging Sandung Lamur (Brisket)',
       'Daging Sapi Lokal Daging Tetelan', 'Daging Sapi Lokal Has Dalam',
       'Daging Sapi Lokal Paha Belakang', 'Garam Beryodium Bata',
       'Garam Beryodium Halus', 'Gula Pasir', 'Ikan Kembung', 'Ikan Teri Asin',
       'Indomie Rasa Kari Ayam', 'Jagung Pipilan Kecil', 'Kacang Hijau',
       'Kacang Kedelai Eks Impor', 'Kacang Kedelai Lokal', 'Kacang Tanah',
       'Ketela Pohon', 'Minyak Goreng Bimoli Botol', 'Minyak Goreng Curah',
       'Susu Bubuk Kaleng Merk Bendera', 'Susu Bubuk Kaleng Merk Indomilk',
       'Susu Kental Manis Kaleng Merk Bendera',
       'Susu Kental Manis Kaleng Merk Indomilk', 'Telur Ayam Kampung',
       'Telur Ayam Ras', 'Tepung Terigu Segitiga Biru'],
      dtype='object', name='komoditi')

In [146]:
frame.index

DatetimeIndex(['2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01',
               '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01',
               '2018-12-01', '2018-01-15',
               ...
               '2018-12-14', '2018-12-17', '2018-12-18', '2018-12-19',
               '2018-12-20', '2018-12-21', '2018-12-26', '2018-12-27',
               '2018-12-28', '2018-12-31'],
              dtype='datetime64[ns]', name='tanggal', length=239, freq=None)